/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: radial-gradient(80% 80% at 101.61% 76.99%, rgb(45, 2, 100) 0%, rgb(3, 0, 35) 100%);
    background-repeat: no-repeat;

}