# Node.js dependencies
Angular/node_modules/
Angular/npm-debug.log*
Angular/yarn-debug.log*
Angular/yarn-error.log*
Angular/pnpm-debug.log*

# Environment files
.env
.env.*.local

# VS Code settings
Angular/.vscode/
Angular/.angular/

# Jetbrains settings
JSB-API/.idea

# Logs
logs/
*.log
log/
pids/
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# Coverage reports
coverage/
.nyc_output/

# Build output
dist/
build/
tmp/
temp/

# IDEs and editors
.idea/
*.sw?
*.swo

# Optional: ignore lock files (if using only one lock manager)
Angular/package-lock.json
# yarn.lock
# pnpm-lock.yaml
