<div class="table">
    <div class="table-header">
        <button  class="add-user-btn" onclick="location.href='http://localhost:4200/adduser';">Add User</button>
    </div>
    <ul class="users">
        <li>
            <div>Primeiro Nome</div>
            <div>Último Nome</div>
            <div>Número</div>
            <div>Email</div> 
        </li>

        <li class="selection">

            <div class="search"><input type="text" placeholder="Pesquisar" [(ngModel)]="firstNameFilter" (input)="filterUsers()"></div>
            <div class="search"><input type="text" placeholder="Pesquisar" [(ngModel)]="lastNameFilter" (input)="filterUsers()"></div>
            <div class="search"><input type="text" placeholder="Pesquisar" [(ngModel)]="numberFilter" (input)="filterUsers()"></div>
            <div class="search"><input type="text" placeholder="Pesquisar" [(ngModel)]="emailFilter" (input)="filterUsers()"></div>
        </li>

        <li *ngFor="let user of filteredUsers">
            <div>{{ user.firstName }}</div>
            <div>{{ user.lastName }}</div>
            <div>{{ user.role }}</div>
            <div>{{ user.number }}</div>
            <div>{{ user.email }}</div>
        </li>
    </ul>
</div>

