:host {
	display: block;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.signup{
	width: 25vw;
	height: 80vh;
	padding: 0px;
	background: inherit;
	overflow: hidden;
	border-radius: 25px;
	transition: .8s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: rgba(.10, .10, .10, .10) 0px 54px 55px, rgba(.12, .12, .12, .12) 0px -12px 30px, rgba(.12, .12, .12, .12) 0px 4px 6px, rgba(0, 0, 0, 0) 0px 12px 13px, rgba(0, 0, 0, .09) 0px -3px 5px;
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(50%);
	
}

label{
	color: #fff;
	font-size: 2.5em;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: default;
}

input{
	width: 80%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #502f8d;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button.sign{
	margin-top: 25px;
}

button.log{
	margin-top: 5px;
}

button:hover{
	background: #420da5;
}

div.error-message{
	color: #fff;
	text-align: center;
	
}