:host {
	display: block;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.signup {
	width: 300px;
	height: 500px;
	padding: 0px;
	background: inherit;
	overflow: hidden;
	border-radius: 25px;
	transition: .8s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: rgba(.10, .10, .10, .10) 0px 54px 55px, rgba(.12, .12, .12, .12) 0px -12px 30px, rgba(.12, .12, .12, .12) 0px 4px 6px, rgba(0, 0, 0, 0) 0px 12px 13px, rgba(0, 0, 0, .09) 0px -3px 5px;
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(50%);
}

label {
	color: #fff;
	cursor: default;

	&.title {
		font-size: 2.5rem;
		justify-content: center;
		font-weight: bold;
		display: flex;
	}

	&.or {
		font-size: 1.25rem;
	}
}

input {
	width: 80%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 15px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button {
	width: 60%;
	height: 40px;
	font-size: 1.375rem;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	border: none;
	display: block;
	color: #ffffff;
	background: #420da5;
	transition: .2s ease-in;
	justify-content: center;
	cursor: pointer;

	&.sign {
		margin: 25px auto;
	}

	&:hover {
		background: #502f8d;
	}
}

div.error-message {
	color: #cc1b1b;
	text-align: center;
	padding-top: 30px;
}


div.success-message {
	color: #1bcc21;
	text-align: center;
	padding-top: 30px;
}

.or-log-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
}