<div class="signup">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <label class="title" >Signup</label>
        <input type="name" formControlName="firstName" placeholder="First Name" required>
        <input type="name" formControlName="lastName" placeholder="Last Name" required>
        <input type="email" formControlName="email" placeholder="Email" required>
        <input type="text" formControlName="number" placeholder="Number" required>
        <input type="password" formControlName="password" placeholder="Password" required>
        <button type="submit" class="sign">Sign up</button>
        <label class="or">or</label>
        <button type="button" class="log">Log In</button>
    </form>
    <div *ngIf="signupSuccess" class="success-message">{{ signupSuccess }}</div>
</div>
<div *ngIf="signupError" class="error-message">{{ signupError }}</div>