<div class="addUser">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label class="title">Add User</label>
        <input type="name" formControlName="firstName" placeholder="Primeiro Nome" required>
        <input type="name" formControlName="lastName" placeholder="Último Nome" required>
        <input type="email" formControlName="email" placeholder="Email" required>
        <input type="text" formControlName="number" placeholder="Número" required>
        <input type="password" formControlName="password" placeholder="Password Genérica" required>
        <button type="submit" class="add">Criar Perfil</button>
    </form>
</div>
<div *ngIf="userSuccess" class="success-message">{{ userSuccess }}</div>
<div *ngIf="userError" class="error-message">{{ userError }}</div>